[package]
name = "blescan"
version = "0.4.0"
edition = "2021"
rust-version = "1.86"

[dependencies]
btleplug = "0.11"
tokio = { version="1.29", features = ["rt-multi-thread", "macros"]}
pretty_env_logger = "0.5"
futures = "0.3"
md5 = "0.7"
ratatui = { version = "0.22.0", features = ["all-widgets"] }
crossterm = "0.26.1"
anyhow = "1.0.72"
chrono = { version = "0.4.26", features = ["serde"] }
humantime = "2.1.0"
serde = { version = "1.0.183", features = ["derive"] }
serde_json = "1.0.104"
clap = { version = "4.3.21", features = ["derive"] }
sqlx = { version = "0.7.1", features = [ "runtime-tokio", "tls-rustls", "sqlite", "chrono", "migrate" ] }
async-trait = "0.1.73"
gzp = "0.11.3"